<div style="display: flex; align-items: center; background: #F9F9F9; gap: 0.5rem; padding: 0.5rem; width: fit-content; border: 1px solid black;">
	<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/P_vip.svg" style="width: 2rem; height: auto;">
	<a href="/members">Members</a>
</div>