<div style="border: 2px solid #EBBD46; border-left: 6px solid #EBBD46; padding-left: 1rem; margin-bottom: 1rem; margin-top: 1rem; display: flex; align-items: center; gap: 1rem;">
	<img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Under_construction_icon-yellow.svg" style="width: 3rem; height: auto;">
	<div>
		<h3 style="color: #EBBD46; margin-top: 0.5rem; margin-bottom: 0.5rem;">Under construction</h3>
		<p style="margin-top: 0.5rem; margin-bottom: 0.5rem;">This page or section <b>is being created, or is in the process of extensive expansion or major restructuring.</b> You are welcome to assist in its construction by editing it as well.</p>
	</div>
</div>