a {
	text-transform: uppercase;
	text-decoration: none;
}

table {
	border: 1px solid black;
}

th {
	border-bottom: 0;
}

td {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

table.table, table.table th, table.table td {
	border: 1px solid black;
}

table.table {
	border-collapse: collapse;
}