---
layout: layouts/index.njk
title: Altair
tags: members
featured: true
---

{% include "components/wip.njk" %}

<table style="table-layout: fixed; width: 20rem; float: right;">
	<tbody style="width: 100px;">
		<tr>
			<td colspan="2" style="text-align: center; font-size: 1rem;"><a href="/general-overseer">General Overseer</a></td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center; font-weight: bold; font-size: 1.5rem;">Altair</td>
		</tr>
		<tr>
			<td colspan="2" style="text-align: center; font-size: 0.85rem;"><a href="/great-disciple">Great Disciple</a></td>
		</tr>
		<tr style="height: 0.5rem;">
		<tr>
			<th colspan="2" style="text-align: center; font-weight: bold;">Characteristics</th>
		</tr>
		<tr style="height: 0.5rem;">
		<tr>
			<td style="font-weight: bold;">Born</td>
			<td>Alexis Nier Jackson<br>c. 1754<br><a href="/antwain">Antwain</a>, <a href="/perusia">Perusia</a></td>
		</tr>
		<tr>
			<td style="font-weight: bold;">Died</td>
			<td>December 5th, 1849 (aged 94-95)<br><a href="/antronia">Antronia</a>, <a href="/alphadonia">Alphadonia</a></td>
		</tr>
		<tr>
			<td style="font-weight: bold;">Cause of death</td>
			<td>Meditative disappearance</td>
		</tr>
		<tr>
			<td style="font-weight: bold;">Citizenship</td>
			<td>Perusia · Alphadonia</td>
		</tr>
	</tbody>
</table>

<p><b>Altair</b>, formerly <b>Alexis Nier Jackson</b> (c. 1754 - December 5th, 1849) was a Perusian writer, polymath and father of <a href="/event-prediction">event prediction</a>. He was the founder of the <a href="/gsa">Great Society of the Archivists</a>, and the first General Overseer of the Archivists.</p>

<p>Born circa 1754 at <a href="/antwain">Antwain</a>, <a href="/perusia">Perusia</a>, he studied at <a href="/antronia">Antronia</a>, <a href="/alphadonia">Alphadonia</a>. Circa 1775, he was transported to the <a href="/hub/">Hub of Worlds</a>, and met <a href="/nayaquille">Nayáquille</a>, Patron God of Learning and Knowledge, and God of Wisdom, Creativity and Arts. He experienced an epiphany and realized the potential of event prediction.</p>

{% include "components/portal.njk" %}